body{
  background-color: rgb(106, 165, 204);
}

.pokemon-list{
  text-align: center;
  display: block;
  list-style-type: none;
  background-color: beige;
  border: 5px solid black;
}

.button-class{
  width: 500px;
  background-color: lightgrey;
  color: black;
  padding: 16px 32px;
  font-size: 50px;
  box-shadow: inset 0 0 0 0 lightblue;
  transition: ease-out 0.4s;
  margin: 8px 4px;
  border-radius: 50px;
  border: 5px solid black;
  text-transform: capitalize;
}

.button-class:hover,
 .button-class:active {
  box-shadow: inset 500px 0 0 0 lightblue;
  transition: ease-in 0.4s;
  cursor: pointer;/* lets the mouse appear as a hand when hovering over the button */
  color: beige;
  transform: scale(0.95);/* Scaling button to 0.95 to its original size */
}

h1{
  text-align: center;
  font-size: 100px;
  border: 5px solid black;
  background-color: rgb(223, 245, 252);
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;/* to show it above other content */
  overflow: auto; /* to allow scrolling if the screen is not high enough*/
  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: lightblue;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;
  border: 5px solid black;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 1px solid black;
  background: lightgrey;
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.modal h1 {
  display: inline-block;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 30px;
  border: 1px solid black;
  background-color: lightgray;
  text-transform: capitalize;
  padding: 10px;
}

.modal p {
  margin-bottom: 0;
  text-transform: capitalize;
}

.modal-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: lightgray;
  border: 5px solid black;
  width: 150px;
  height: 150px;
}

.h1-button {
  display: inline;
  float: left;
  margin-top: 128px;
  padding: 15px 32px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  border: 2px solid black;
  text-align: center;
  background-color: rgb(194, 173, 194);
}