body{
  background-color: rgb(106, 165, 204);
}

.pokemon-list{
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  list-style-type: none;
  margin-top: 220px;
}

.button-class{ 
  width: 150px;
  height: 50px;
  background-color: lightgrey;
  color: black;
  font-size: justify;
  box-shadow: inset 0 0 0 0 lightblue;
  transition: ease-out 0.4s;
  margin: 8px 4px;
  border-radius: 50px;
  border: 5px solid black;
  text-transform: capitalize;
}

.button-class:hover,
 .button-class:active {
  box-shadow: inset 500px 0 0 0 lightblue;
  transition: ease-in 0.4s;
  cursor: pointer;/* lets the mouse appear as a hand when hovering over the button */
  color: beige;
  transform: scale(0.95);/* Scaling button to 0.95 to its original size */
}

h1{
  display: inline-block;
  /*text-align: center;*/
  
  font-size: 100px;
  margin-top: 25px;
  margin-bottom: 0px;
  border: 5px solid black;
  background-color: rgb(223, 245, 252);
  
}

.modal h1 {
  display: inline-block;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 30px;
  border: 1px solid black;
  background-color: lightgray;
  text-transform: capitalize;
  padding: 10px;
}*/

.modal p {
  margin-bottom: 0;
  text-transform: capitalize;
}

.modal-image {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  background-color: lightgray;
  border: 5px solid black;
  width: 150px;
  height: 150px;
}

.h1-button {
  display: inline;
  float: right;
  margin-top: 30px;
  margin-left: 25px;
  padding: 15px 32px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  border: 2px solid black;
  text-align: center;
  background-color: rgb(194, 173, 194);
}

.modal-background {
  background-color: lavender;
}

.logo-size {
  display: inline-flex;
  float: left;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  padding-left: 10px;
  margin-bottom: 0px;
  margin-top: 0px
}