################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Videos
/Searches
/Saved Games
/OneDrive
/ntuser.ini
/NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000002.regtrans-ms
/NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TM.blf
/ntuser.dat.LOG2
/ntuser.dat.LOG1
/NTUSER.DAT
/Music
/movie_api
/MicrosoftEdgeBackups
/Links
/Favorites
/Downloads
/Documents
/Device_ID.log
/Contacts
/AppData
/AMD_RyzenMaster.log
/AMD_Chipset_IODrivers.log
/AMDRM_Install.log
/3D Objects
/.vscode
/.node_repl_history
/.gitconfig
/.atom
